<%= javascript_include_tag 'sales.js'%>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <%= render 'layouts/sidebar' %>
        <div class="col px-0">
            <div id="items" class="">
                <div class="p-3 d-flex justify-content-between">
                    <h3 class="mb-0">New Sale</h3>    
                    <a href="/<%=@curr_storage.name%>/sales"><i class="fs-4 bi-x-circle"></i></a>
                </div>
                <%= form_tag("/#{@curr_storage.name}/sales", method: 'post', id: 'create-sale-form') do %>
                    <%= render "form", item: @item %>
                    <div class="py-3 d-flex border-top">
                        <button class="m-3 btn btn-primary m-0" type="submit">Create Sale</button>
                        <a class="m-3 btn btn-secondary m-0" style="width: 100px;" href="/<%=@curr_storage.name%>/items">cancel</a>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>